form {
    padding:25px;
        #searchBar {
            border-radius:5px;
            margin-right:15px;
            background-color: #f7f7f7;
        }
            #searchBtn {
                background-color: #0275d8;
                border:none;
                border-radius:5px;
                color:white;
                padding:5px;
            }
}